<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debugout" xsi:type="File" fileName="Logs/debug.log" encoding="utf-8"
				layout="[${utc_longdate}][${level} // ${logger}] - ${message}" />
		<target name="errorout" xsi:type="File" fileName="Logs/error.log" encoding="utf-8"
				layout="[${utc_longdate}][${level} // ${logger}] - ${message} (${exception:format=tostring})" />

		<target name="consoleout" xsi:type="ColoredConsole"
				layout="[${level} // ${logger:shortName=true}] - ${message} ${onexception:inner=(${exception:format=type,message})}"
				encoding="utf-8" enableAnsiOutput="True">
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
			<highlight-row condition="level == LogLevel.Error" backgroundColor="DarkRed" foregroundColor="Black" />
			<highlight-row condition="level == LogLevel.Fatal" backgroundColor="DarkMagenta" foregroundColor="White" />
		</target>

		<target name="debugger" xsi:type="Debugger" encoding="utf-8"
				layout="[${longdate}][${level} // ${logger}] - ${message} ${onexception:inner=(${exception:format=tostring})}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Info" writeTo="debugout" ruleName="debuglog"/>
		<logger name="*" minlevel="Warn" writeTo="errorout" ruleName="errorlog"/>

		<logger name="*" minlevel="Info" writeTo="consoleout" ruleName="consolelog"/>

		<logger name="*" minlevel="Trace" writeTo="debugger" />
	</rules>
</nlog>