<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debuglog" xsi:type="File" fileName="Logs/debug.log"
				layout="[${longdate}][${level}] ${message}" />
		<target name="errorlog" xsi:type="File" fileName="Logs/error.log"
				layout="[${longdate}][${level}] ${message}" />

		<target name="consolelog" xsi:type="ColoredConsole"
				layout="[${level}] ${message}"
				enableAnsiOutput="True">
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
			<highlight-row condition="level == LogLevel.Error" backgroundColor="DarkRed" foregroundColor="Black" />
			<highlight-row condition="level == LogLevel.Fatal" backgroundColor="DarkMagenta" foregroundColor="White" />
		</target>

		<target name="debugger" xsi:type="Debugger" layout="[${longdate}][${level}] ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="debuglog" />
		<logger name="*" minlevel="Warn" writeTo="errorlog" />

		<logger name="*" minlevel="Info" writeTo="consolelog" />

		<logger name="*" minlevel="Trace" writeTo="debugger" />
	</rules>
</nlog>