<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debugout" xsi:type="File" fileName="Logs/debug.log"
				layout="[${longdate}][${level}] ${message} ${onexception:inner=(${exception:format=message})}" />
		<target name="errorout" xsi:type="File" fileName="Logs/error.log"
				layout="[${longdate}][${level}] ${message} (${exception:format=message})" />

		<target name="consoleout" xsi:type="ColoredConsole"
				layout="[${level}] ${message} ${onexception:inner=(${exception:format=message})}"
				enableAnsiOutput="True">
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
			<highlight-row condition="level == LogLevel.Error" backgroundColor="DarkRed" foregroundColor="Black" />
			<highlight-row condition="level == LogLevel.Fatal" backgroundColor="DarkMagenta" foregroundColor="White" />
		</target>

		<target name="debugger" xsi:type="Debugger" layout="[${longdate}][${level}] ${message} ${onexception:inner=(${exception:format=message})}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="debugout" ruleName="debuglog"/>
		<logger name="*" minlevel="Error" writeTo="errorout" ruleName="errorlog"/>

		<logger name="*" minlevel="Info" writeTo="consoleout" ruleName="consolelog"/>

		<logger name="*" minlevel="Trace" writeTo="debugger" />
	</rules>
</nlog>